{% load i18n %}
<ul>
  <li><a href="{% url 'darkknight.views.download' object.signed_pk %}?download">{% trans "Download the CSR" %}</a></li>
  <li><a href="{% url 'darkknight.views.download' object.signed_pk %}?view">{% trans "View the CSR" %}</a></li>
</ul>

<dl>

  <dt>{% trans "Key" %}
  <dd><tt>{{ object.key }}</tt>

  <dt>{% blocktrans %}<tt>scp</tt> command{% endblocktrans %}
  <dd><tt>scp {{ request.get_host }}:{{ object.key }} .</tt>

  <dt>{% trans "Country Name" %}
  <dd>{{ csr.countryName }}

  <dt>{% trans "State or Province" %}
  <dd>{{ csr.stateOrProvinceName }}

  <dt>{% trans "Locality Name" %}
  <dd>{{ csr.localityName }}

  <dt>{% trans "Organization Name" %}
  <dd>{{ csr.organizationName }}

  {% if csr.organizationalUnitName %}
    <dt>{% trans "Organizational Unit" %}
    <dd>{{ csr.organizationalUnitName }}
  {% endif %}

  <dt>{% trans "Common Name" %}
  <dd>{{ csr.commonName }}

  <dt>{% trans "Email Address" %}
  <dd>{{ csr.emailAddress }}

</dl>
