{% load i18n %}

<ul>
  {% if object.csr_set.all|length == 1 %}
    {% include "darkknight/_detail_csr_links.html" with key=object csr=object.csr_set.all.0 %}
  {% endif %}
</ul>

<dl>

  <dt>{% trans "Key" %}
  <dd><tt>{{ object.key_path }}</tt>

  <dt>{% blocktrans %}<tt>scp</tt> command{% endblocktrans %}
  <dd><tt>{% block command %}ssh {{ request.get_host }} sudo cat {{ object.key_path }} | sudo tee <em>filename</em>{% endblock %}</tt>

  {% if object.csr_set.all|length == 1 %}
    {% include "darkknight/_detail_csr_details.html" with csr=object.csr_set.all.0.subject %}
  {% endif %}

</dl>

{% if object.csr_set.all|length > 1 %}
  <p>This key has many certificates:</p>

  {% for csr in object.csr_set.all %}
    <section>
      <ul>
        {% include "darkknight/_detail_csr_links.html" with key=object %}
      </ul>

      <dl>
        {% include "darkknight/_detail_csr_details.html" with csr=csr.subject %}
      </dl>
    </section>
  {% endfor %}
{% endif %}
</body>
